{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}

{# {{ form }} #}

{# {{ form|without('advanced', 'footer', 'actions') }} #}

{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}


{# {{ kint(form) }} #}
{# {{ kint(form.field_additional_info) }} #}

<div class="row mb-3">
  <div class="col-lg-8">
      <div class="row">
          <div class="col">
              <div class="card shadow mb-3">
                  <div class="card-header py-3">
                      <p class="text-primary m-0 font-weight-bold">Water Stream</p>
                  </div>
                  <div class="card-body">

                    <div class="form-row">
                        <div class="col-xl-12">
                            <div class="form-group">
                              {{ form.title }}
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                              <!-- <label for="username"><strong>Estimated Flow m3/day needed *</strong></label>
                              <input class="form-control" type="text" placeholder="flow in m3/day" name="username"> -->
                              {{ form.field_wr_flow }}
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                              {{ form.field_application_field_txn }}
                            </div>
                        </div>
                    </div>
                  </div>
              </div>

              <div class="card shadow mb-3">
                  <div class="card-header py-3">
                      <p class="text-primary m-0 font-weight-bold">Images</p>
                  </div>
                  <div class="card-body">

                    <div class="form-row">
                        <div class="col-xl-12">
                            <div class="form-group">
                              <!-- <label for="first_name"><strong>Other details *</strong></label><input class="form-control" type="text" placeholder="Specify other application field and known details to help us to qualify your needs" name="Note"> -->
                              {{ form.field_images }}
                            </div>
                        </div>
                    </div>
                  </div>
              </div>

              <div class="card shadow mb-3">
                  <div class="card-header py-3">
                      <p class="text-primary m-0 font-weight-bold">Documents</p>
                  </div>
                  <div class="card-body">


                    <div class="form-row">
                        <div class="col-xl-12">
                            <div class="form-group">
                              <!-- <label for="first_name"><strong>Other details *</strong></label><input class="form-control" type="text" placeholder="Specify other application field and known details to help us to qualify your needs" name="Note"> -->
                              {{ form.field_documents }}
                            </div>
                        </div>
                    </div>

                  </div>
              </div>
              <div class="card shadow">
                  <div class="card-header py-3">
                      <p class="text-primary m-0 font-weight-bold">Water stream position / specify address / pick map position&nbsp;*</p>
                      <!-- <iframe allowfullscreen="" frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDqvl6z7CzA8XWMaCa1GX5jI0EyKpo9PMI&amp;q=Lombardia%2C+Piazza+Leonardo+da+Vinci%2C+32&amp;zoom=8" data-toggle="tooltip" data-bs-tooltip="" data-placement="bottom" width="100%" height="400" title="" data-original-title="Select position"></iframe> -->
                      {{ form.field_water_stream_position }}
                  </div>
                  <div class="card-body">
                    {{ form.field_wr_address }}
                  </div>
                  <div class="card-header py-3">
                      <p class="text-primary m-0 font-weight-bold">Additional information</p>
                      <div class="form-group">
                        <label for="signature"><strong>Describe in a few lines your activity and how the&nbsp;water flow will be applied to your activity</strong><br></label>
                        {{ form.field_additional_info }}
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-4">
      <div class="card shadow mb-4">
          <div class="card-header py-3">
              <p class="text-primary font-weight-bold m-0">Water Stream parameters</p>
          </div>
          <div class="card-body">
            <div class="form-row">
              <div class="col-xl-12">
                <!-- <h4 class="small font-weight-bold">Water specs completion:<span class="float-right">!!!!</span></h4>
                <div class="progress progress-sm mb-3">
                  <div class="progress-bar bg-danger" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"><span class="sr-only">20%</span></div>
                </div> -->
                {# {{ form.analysis_type_select }} #}
                {# {{ form.analysis_fieldset }} #}
                {{ form.field_analysis_values }}
              </div>
            </div>
          </div>
      </div>
  </div>
  <div class="col-xl-12">
    {{ form.footer }}
    {{ form.actions }}
  </div>
</div>
